@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --font-lexend-deca: "Lexend Deca", sans-serif;
  --font-bodoni-moda: "Bodoni Moda", serif;
}

body {
  font-family: var(--font-lexend-deca);
}

.thin-font {
  font-family: var(--font-bodoni-moda);
  font-weight: 100;
}

html {
  scroll-behavior: smooth;
}


